.faq-section {
  background-color: #f9f9f9;
  padding: 50px 0;
}

.container {
  max-width: 800px;
}

.accordion {
  width: 50%;
}

.accordion-item {
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

.accordion-item.active {
  border: 1px solid #00478a;
}

.accordion-header {
  background-color: #dc3545;
  padding: 10px 20px;
  cursor: pointer;
}

.accordion-body {
  display: none;
  padding: 15px 20px;
}

.accordion-item.active .accordion-body {
  display: block;
}
.accordion-header:hover { background-color: #ddd; }

.accordion-body p { margin-bottom: 10px; }

.accordion-body ul { list-style-type: disc; margin-left: 20px; }

.accordion-body ol { list-style-type: decimal; margin-left: 20px; }